.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 0px 96px 0;
}

.header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
}

.header__links-list-item {
    font-size: 18px;
    font-weight: normal;
}

.header__links-list-item a {
    text-decoration: none;
    border-bottom: 1px solid #000;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__links-list-item_no-bullit a {
    border-bottom: none;
}

.header__logo{
    width: 148px;
}

.header__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: end;
    width: 240px;
    max-width: 100%;
    font-size: 18px;
}

.address {
    font-style: normal;
}
